In [1]:
#Python is good for AI, and C/C++ is good for programming microcontrollers.
print("Hello, Axia Africa Student!")

Hello, Axia Africa Student!

In [1]:
#2. Comments
#Used to explain code (not executed).
# This is a single-line comment

In [2]:
#3. Variables
#Used to store values.
# name = "John"
age = 25

In [4]:
#To use a variable in a string, you can add it to the string, like this:
a = 'Beauty'
print('My name is ' + a)

My name is Beauty

In [5]:
#If we want to decrement a variable, we can do that in a similar way as incrementing. And the number we want to decrement by can be any number, not just 1.
#The code below shows how to decrement a variable by 3 in different programming languages, using shorthand.
a = 5
a -= 3
print(a)

2

In [10]:
#IF STATEMENT
#We want to use a variable in an if statement, as part of the condition, like this:
temperature = 25
print ('Temperature:' + str(temperature)+ '°C')
if temperature > 20:
    print ('it is warm')
else:
    print('it is not warm')

Temperature:25°C
it is warm

In [20]:
#IF STATEMENT
#We want to use a variable in an if statement, as part of the condition, like this:
Attendance = 50
print ('Attendance:' + str(Attendance)+ '%')
if Attendance > 25:
    print ('pass')
else:
    print ('fail')

Attendance:50%
pass

In [21]:
#But usually, we also want to handle the case when the condition is not true, so we use an else statement for that.
age = 15
print('Age: ' + str(age))
if age > 17:
  print('You are an adult!')
else:
  print('You are not an adult yet.')

Age: 15
You are not an adult yet.

In [24]:
#But usually, we also want to handle the case when the condition is not true, so we use an else statement for that.
Bola = 25
print('Bola: ' + str(Bola))
if Bola < 13:
  print('You are a child!')
elif Bola < 20:
  print('You are a teenager')
else:
    print ('You are an adult')

Bola: 25
You are an adult

In [25]:
#A nested if statement is an if statement inside another if statement.
#Nested if statements are useful in cases where you want to check a condition,only if another condition is true. 
Bola = 25
print('Bola: ' + str(Bola))
if Bola < 13:
  print('You are a child!')
elif Bola < 20:
  print('You are a teenager')
if Bola > 17:
    print ('and an adult!')
else:
    print ('You are an adult')

Bola: 25
and an adult!

In [1]:
#a. Integer (int)
#Used to store whole numbers (no decimals).
age = 25
print(age)       # Output: 25
print(type(age)) # Output: <class 'int'>

25
<class 'int'>

In [2]:
#b. Float (float)
#Used to store numbers with decimal points.
height = 5.9
print(height)       # Output: 5.9
print(type(height)) # Output: <class 'float'>

5.9
<class 'float'>

In [4]:

#2. String (str)
#A sequence of characters enclosed in single (') or double (") quotes.
name = "Beauty"
greeting = 'Welcome to Data Analytics!'
print(name)        # Output: Magdalene
print(type(name))  # Output: <class 'str'>

Beauty
<class 'str'>

In [5]:
#3. Boolean (bool)
#Stores either True or False, often used in comparisons.
# Comparison Example
print(10 > 5)            # Output: True

True

In [6]:
#4. Sequence Types
#Used to store multiple items in an ordered way.
#a. List (list) – Mutable (changeable)
fruits = ["apple", "banana", "cherry"]
fruits[1] = "orange"
print(fruits)       # Output: ['apple', 'orange', 'cherry']
print(type(fruits)) # Output: <class 'list'>

['apple', 'orange', 'cherry']
<class 'list'>

In [7]:
#b. Tuple (tuple) – Immutable (unchangeable)
colors = ("red", "green", "blue")
# colors[0] = "yellow" → ❌ Error, can't change tuple
print(colors)       # Output: ('red', 'green', 'blue')
print(type(colors)) # Output: <class 'tuple'>

('red', 'green', 'blue')
<class 'tuple'>

In [8]:
#5. Dictionary (dict)
#Used to store key-value pairs.
student = {
    "name": "Beauty",
    "age": 28,
    "course": "Data Analytics"
}
print(student["name"])      # Output: Magdalene
print(type(student))        # Output: <class 'dict'>

Beauty
<class 'dict'>

In [9]:
#c. Range (range)
#Used to generate a sequence of numbers.
numbers = range(1, 5)
print(list(numbers))   # Output: [1, 2, 3, 4]
print(type(numbers))   # Output: <class 'range'>

[1, 2, 3, 4]
<class 'range'>

In [10]:
def add_numbers(a, b):
    return a + b
result = add_numbers(5, 3)
print(result)   # Output: 8

8

In [11]:
#Python Operators
#Operators perform operations on variables and values. Python supports several types of operators:
#1. Arithmetic Operators
#These are used for basic mathematical operations.
#Examples:
a = 10
b = 3
print(a + b)  # Addition: 13
print(a - b)  # Subtraction: 7
print(a * b)  # Multiplication: 30
print(a / b)  # Division: 3.33
print(a % b)  # Modulus (remainder): 1
print(a ** b) # Exponentiation: 1000
print(a // b) # Floor Division: 3

13
7
30
3.3333333333333335
1
1000
3

In [13]:
#2. Assignment Operators
#Used to assign values to variables.
#Examples:
x = 5
x += 3  # x = x + 3 → 8
x *= 2  # x = x * 2 → 16

In [14]:
#3. Comparison Operators
#Used to compare values and return Boolean results.
#Examples:
x = 10
y = 20
print(x == y)  # False
print(x != y)  # True
print(x < y)   # True
print(x >= y)  # False

False
True
True
False

In [15]:
#4. Logical Operators
#Used to combine conditional statements.
#Examples:
x = 5
print(x > 2 and x < 10)  # True
print(x > 10 or x < 2)   # False
print(not(x > 10))       # True

True
False
True

In [19]:
#5. Membership Operators
#Used to test if a sequence contains a value.
#Examples:
fruits = ["apple", "banana", "cherry"]
print("apple" in fruits)     # True
print("grape" not in fruits) # True

print(len("Beauty"))        # Output : 6
print(abs(-10))            # Output : 10
print(sum([1, 2, 3, 4]))   # Output : 10
print(round (3.14159, 2))  # Output : 3.14
print(type(42))            # Output: <class 'int'>

True
True
6
10
10
3.14
<class 'int'>

In [20]:
#Python Functions
#1. Built-in Functions
#Examples of built-in functions:
print("Hello World")     # Displays text
input("Enter name: ")   # Accepts user input
abs(-5)                  # Returns 5
len("Python")            # Returns 6
sum([1, 2, 3])           # Returns 6

Hello World
Enter name: Beauty

6